@principalFont: Roboto, sans-serif;
@titleFont: Lobster, cursive;
@textColor: #fff;
@backgroundColor: #eb3b5a;

body {
    background-color: @backgroundColor;
    font-family: @principalFont;
    color: @textColor;
}

h1 {
    font-family: @titleFont;
    font-size: 3em;
}

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}